.message-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(240, 243, 245, 0.116); 
    backdrop-filter: blur(10px); 
    border: 1px solid #2f80ed;
    color: #333333;
    padding: 15px 25px;
    margin-top: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
}